# develpers
**/.idea/
**/runs/
**/.DS_Store
**/__pycache__/

# don't include instruction
**/instruction.pdf

# data for A1
**/gov/

# notebook files are too large for git repos
*.ipynb
**/.ipynb_checkpoints/

# data and pictures and document 
*.csv
*.json
*.pik
*.docx
*.doc
*.png
*.npz

# pre-trained word2vec file in A2
*.vec

# not to include the README file from A2 Q1
/assignment2/Q1/data/README

# do not include report
**/u7136359.pdf

submissions/*
