# develpers
**/.idea/
**/runs/
**/.DS_Store
**/__pycache__/


# data for A1
**/gov/

# notebook files are too large for git repos
*.ipynb
**/.ipynb_checkpoints/

# data and pictures and document 
*.csv
*.txt
*.json
*.pik
*.docx
*.doc
*.png
*.npz
*.mp4
*.pdf

# pre-trained word2vec file in A2
*.vec

# not to include the README file from A2 Q1
/assignment2/Q1/data/README

submissions/*
